.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    .loginBox{
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }
    .loginTitle{
        margin-bottom: 20px;
    }
    :global(.ant-form-item) {
        margin-bottom: 20px;
    }
}
